/*===========================
             Variables
  ===========================*/

/*====== Colors ======*/

// Main palette
$color-primary: #007FFF;
$color-secondary: #F1EDEE;
$color-accent: #963484;

// General use
$white: #fff;

// Images



/*====== Values ======*/

// Typography
$font-display: Comfortaa, cursive;
$font-text: Montserrat, sans-serif;

// Media queries
$med: 768px;

// Dimensions


// Grid


// Buttons


// Nav


// Images


// Form